<h2>Top Products</h2>
<% sorted_stats.each do |id, quantity| %>
  <table>
    <tr class="row">
      <th class="col-md-7">Product</th>
      <th class="col-md-5">Amount Sold</th>
    </tr>
    <tr class="row">
      <td class="col-md-7"><%= link_to @products.find(id).name, product_path(id) %></td>
      <td class="col-md-5"><%= quantity %></td>
    </tr>
  </table>
<% end %>
